html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2 h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd,
section {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  color: #000;
}

.container {
  max-width: 1238px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-nav__btn, .header-info__btn, .ready-inner__btn, .decision__btn, .work__btn, .content__btn, .contact-info__btn, .social__btn, .review__btn {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#fe2929), to(#d80303));
  background: linear-gradient(180deg, #fe2929 0%, #d80303 100%);
  border-radius: 3px;
  padding: 15px 34px;
  cursor: pointer;
}

.title {
  text-align: center;
  font-family: Roboto Condensed;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  margin-bottom: 60px;
}

.title::before, .title::after {
  position: absolute;
  content: "";
  width: 373px;
  height: 1px;
  background-color: #c4c4c4;
  top: 27px;
}

.title::before {
  left: 0;
}

.title::after {
  right: 0;
}

.header {
  background-image: url("../img/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  height: 100vh;
  padding: 40px 0 48px;
  margin-left: -1px;
  margin-top: -2px;
}

.header-nav {
  background-color: #fff;
  padding: 25px 0 32px;
}

.header-nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__contact-img {
  margin-right: 6px;
}

.header-nav__contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-nav__contact-link {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: #e71212;
}

.header-nav__btn {
  margin-left: 30px;
  margin-right: 31px;
}

.header-nav__info {
  margin-left: 31px;
}

.header-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7px;
}

.header-nav__item:last-child {
  margin-bottom: 0;
}

.header-nav__info-img {
  margin-right: 10px;
}

.header-nav__info-link {
  font-size: 16px;
  line-height: 19px;
  color: #000;
}

.header-info {
  padding-top: 77px;
}

.header-info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-info__title {
  max-width: 575px;
  font-weight: 400;
  font-size: 66px;
  line-height: 77px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
}

.header-info__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #fdd661;
  margin-bottom: 22px;
}

.header-info__list {
  margin-bottom: 30px;
}

.header-info__item {
  font-weight: 400;
  font-size: 24px;
  line-height: 165.19%;
  color: #ffffff;
  margin-bottom: 15px;
  padding-left: 40px;
  position: relative;
}

.header-info__item::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon/box.svg");
  left: 0;
  width: 24px;
  height: 26px;
  top: 5px;
}

.header-info__item--last {
  margin-bottom: 30px;
}

.header-info__btn {
  padding: 12px 30px;
}

.info {
  background: #e5e5e5;
  padding: 60px 0 52px;
}

.info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
}

.info-item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  font-weight: 400;
}

.info-item__img {
  max-width: 180px;
}

.info-item__box {
  margin-left: 20px;
}

.info-item__box-title {
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 1px;
}

.info-item__box-subtitle {
  font-size: 18px;
  line-height: 150%;
  color: #000;
}

.ready {
  background-color: #f6f6f6;
  padding: 45px 0 86px;
}

.ready-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 8px;
          column-gap: 8px;
  row-gap: 24px;
}

.ready-inner__card {
  width: 296px;
}

.ready-inner__card-box {
  padding: 18px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ready-inner__card-title {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

.ready-inner__content {
  background-color: #fff;
  padding: 15px 0 42px;
  height: 658px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ready-inner__img {
  margin: 0 auto;
  min-height: 130px;
}

.ready-inner__list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 56px;
  position: relative;
}

.ready-inner__list-item::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon/union.svg");
  width: 24px;
  height: 18px;
  left: 16px;
}

.ready-inner__list-item:nth-child(1n) {
  background-color: #fdf4dd;
}

.ready-inner__list-item:nth-child(2n) {
  background-color: #fff;
}

.ready-inner__container {
  display: block;
  margin-top: auto;
}

.ready-inner__price {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
  text-align: center;
}

.ready-inner__btn {
  display: block;
  margin: 10px auto 0px;
}

.decision {
  padding: 77px 0 72px;
  text-align: center;
  background-image: url("../img/bg.svg");
  margin-left: -1px;
  font-family: Roboto Condensed;
  color: #ffffff;
  background-position-x: center;
  position: relative;
}

.decision::before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.decision__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 18px;
  z-index: 1;
  position: relative;
}

.decision__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 46px;
  z-index: 1;
  position: relative;
}

.decision__btn {
  padding: 12px 82px;
  z-index: 1;
  position: relative;
}

.work {
  background: #e5e5e5;
  padding: 61px 0 68px;
}

.work__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-bottom: 39px;
  -webkit-column-gap: 37px;
          column-gap: 37px;
  row-gap: 18px;
}

.work__item {
  width: 273px;
}

.work__item-box {
  background-color: #fff;
  padding: 7px;
}

.work__box {
  background-color: #f6f6f6;
  padding: 16px 0 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work__box-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.work__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content {
  background-image: url("../img/bg.svg");
  padding: 72px 0;
  margin-left: -1px;
  color: #ffffff;
}

.content__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__info {
  width: 520px;
}

.content__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.content__subtitle {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 40px;
}

.content__form {
  width: 455px;
}

.content__input {
  border: none;
  display: block;
  border-radius: 3px;
  background: #fff;
  padding: 13px 19px;
  width: 100%;
  margin-bottom: 18px;
}

.content__btn {
  width: 100%;
  margin-bottom: 18px;
}

.contact-info {
  background-image: url("../img/bg.svg");
  padding: 53px 0 55px;
  margin-left: -1px;
  margin-top: -2px;
  position: relative;
  background-position-x: right;
  background-position-y: center;
  text-align: center;
}

.contact-info::after {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.contact-info__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 17px;
  position: relative;
  z-index: 1;
  color: #fff;
}

.contact-info__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  position: relative;
  z-index: 1;
  margin-bottom: 44px;
}

.contact-info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-info__form {
  margin-left: 83px;
}

.contact-info__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact-info__input {
  width: 242px;
  height: 47px;
  border: none;
  background-color: #fff;
  padding: 13px 19px;
  margin-right: 15px;
}

.contact-info__input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #a8a8a8;
}

.contact-info__input:-ms-input-placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #a8a8a8;
}

.contact-info__input::-ms-input-placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #a8a8a8;
}

.contact-info__input::placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #a8a8a8;
}

.contact-info__btn {
  padding: 10px 40px;
}

.contact-info__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
  position: relative;
}

.contact-info__checkbox {
  position: absolute;
  cursor: pointer;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.contact-info__checkbox:checked + .contact-info__span {
  background-image: url("../img/icon/union.svg");
  background-repeat: no-repeat;
  background-position-y: center;
}

.contact-info__span {
  position: absolute;
  height: 26px;
  width: 26px;
  background-color: #f8f8f8;
  border-radius: 3px;
  padding: 7px;
}

.contact-info__span::after {
  content: "";
  position: absolute;
  display: none;
}

.contact-info__span-text {
  font-family: Roboto Condensed;
  margin-left: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-align: left;
}

.why-me {
  background-color: #e5e5e5;
  padding: 109px 0 94px;
}

.why-me__title {
  margin-bottom: 69px;
}

.why-me__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 88px;
          column-gap: 88px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 39px;
}

.why-me__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why-me__box {
  width: 75px;
  height: 75px;
  background-color: #ffb400;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 39px;
}

.why-me__text {
  width: 405px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.why-me__text span {
  display: block;
  margin-top: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.social {
  background-image: url("../img/bg.svg");
  padding: 43px 0 57px;
  margin-left: -1px;
  margin-top: -2px;
  background-repeat: no-repeat;
  background-size: cover;
}

.social__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__box-img {
  margin-right: 31px;
}

.social__info-text {
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.social__info-link {
  background-color: #fff;
  padding: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__btn {
  margin: 30px auto 0px;
  display: block;
}

.social__link-icon {
  height: 52px;
  margin-right: 9px;
  vertical-align: middle;
  padding: 5px;
}

.review {
  padding: 70px 0 110px;
  background: #e5e5e5;
}

.review__title {
  margin-bottom: 113px;
}

.review__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 72px;
}

.review__item {
  width: 277px;
  background-color: #ffffff;
  padding: 46px 42px 43px;
  text-align: center;
  border-radius: 5px;
}

.review__img {
  width: 113px;
  height: 113px;
  border-radius: 50%;
  background: #c4c4c4;
  margin: 0 auto 30px;
}

.review__item-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 2px;
}

.review__item-link {
  font-size: 18px;
  line-height: 21px;
  color: #0075bf;
  margin-bottom: 28px;
  display: inline-block;
}

.review__item-text {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 28px;
}

.review__item-more {
  font-size: 14px;
  line-height: 16px;
  color: #0075bf;
}

.review__btn {
  display: block;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */