html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2 h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd,
section {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  color: #000;
}

.container {
  max-width: 1238px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-nav__btn, .header-info__btn, .ready-inner__btn, .decision__btn, .work__btn, .content__btn, .contact-info__btn, .social__btn, .review__btn, .footer__form-btn {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#fe2929), to(#d80303));
  background: linear-gradient(180deg, #fe2929 0%, #d80303 100%);
  border-radius: 3px;
  padding: 15px 34px;
  cursor: pointer;
}

.title {
  text-align: center;
  font-family: Roboto Condensed;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  margin-bottom: 60px;
}

.title::before, .title::after {
  position: absolute;
  content: "";
  width: 373px;
  height: 1px;
  background-color: #c4c4c4;
  top: 27px;
}

.title::before {
  left: 0;
}

.title::after {
  right: 0;
}

.header {
  background-image: url("../img/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  height: 100vh;
  padding: 40px 0 48px;
  margin-left: -1px;
  margin-top: -2px;
}

.header-nav {
  background-color: #fff;
  padding: 25px 0 32px;
}

.header-nav__btn-hamburger {
  display: none;
}

.header-nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__contact-img {
  margin-right: 6px;
}

.header-nav__contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-nav__contact-link {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: #e71212;
}

.header-nav__btn {
  margin-left: 30px;
  margin-right: 31px;
}

.header-nav__info {
  margin-left: 31px;
}

.header-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7px;
}

.header-nav__item:last-child {
  margin-bottom: 0;
}

.header-nav__info-img {
  margin-right: 10px;
}

.header-nav__info-link {
  font-size: 16px;
  line-height: 19px;
  color: #000;
}

.header-info {
  padding-top: 77px;
}

.header-info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-info__title {
  max-width: 575px;
  font-weight: 400;
  font-size: 66px;
  line-height: 77px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
}

.header-info__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #fdd661;
  margin-bottom: 22px;
}

.header-info__list {
  margin-bottom: 30px;
}

.header-info__item {
  font-weight: 400;
  font-size: 24px;
  line-height: 165.19%;
  color: #ffffff;
  margin-bottom: 15px;
  padding-left: 40px;
  position: relative;
}

.header-info__item::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon/box.svg");
  left: 0;
  width: 24px;
  height: 26px;
  top: 5px;
}

.header-info__item--last {
  margin-bottom: 30px;
}

.header-info__btn {
  padding: 12px 30px;
}

.info {
  background: #e5e5e5;
  padding: 60px 0 52px;
}

.info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
}

.info-item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  font-weight: 400;
}

.info-item__img {
  max-width: 180px;
}

.info-item__box {
  margin-left: 20px;
}

.info-item__box-title {
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 1px;
}

.info-item__box-subtitle {
  font-size: 18px;
  line-height: 150%;
  color: #000;
}

.ready {
  background-color: #f6f6f6;
  padding: 45px 0 86px;
}

.ready-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 8px;
          column-gap: 8px;
  row-gap: 24px;
}

.ready-inner__card {
  width: 296px;
}

.ready-inner__card-box {
  padding: 18px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ready-inner__card-title {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

.ready-inner__content {
  background-color: #fff;
  padding: 15px 0 42px;
  height: 658px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ready-inner__img {
  margin: 0 auto;
  min-height: 130px;
}

.ready-inner__list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 56px;
  position: relative;
}

.ready-inner__list-item::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon/union.svg");
  width: 24px;
  height: 18px;
  left: 16px;
}

.ready-inner__list-item:nth-child(1n) {
  background-color: #fdf4dd;
}

.ready-inner__list-item:nth-child(2n) {
  background-color: #fff;
}

.ready-inner__container {
  display: block;
  margin-top: auto;
}

.ready-inner__price {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
  text-align: center;
}

.ready-inner__btn {
  display: block;
  margin: 10px auto 0px;
}

.decision {
  padding: 77px 0 72px;
  text-align: center;
  background-image: url("../img/bg.svg");
  margin-left: -1px;
  font-family: Roboto Condensed;
  color: #ffffff;
  background-position-x: center;
  position: relative;
}

.decision::before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.decision__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 18px;
  z-index: 1;
  position: relative;
}

.decision__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 46px;
  z-index: 1;
  position: relative;
}

.decision__btn {
  padding: 12px 82px;
  z-index: 1;
  position: relative;
}

.work {
  background: #e5e5e5;
  padding: 61px 0 68px;
}

.work__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-bottom: 39px;
  -webkit-column-gap: 37px;
          column-gap: 37px;
  row-gap: 18px;
}

.work__item {
  width: 273px;
}

.work__item-box {
  background-color: #fff;
  padding: 7px;
}

.work__box {
  background-color: #f6f6f6;
  padding: 16px 0 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work__box-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.work__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content {
  background-image: url("../img/bg.svg");
  padding: 72px 0;
  margin-left: -1px;
  color: #ffffff;
}

.content .contact-info__label {
  width: 100%;
}

.content__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__info {
  width: 520px;
}

.content__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.content__subtitle {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 40px;
}

.content__form {
  width: 455px;
}

.content__input {
  border: none;
  display: block;
  border-radius: 3px;
  background: #fff;
  padding: 13px 19px;
  width: 100%;
  margin-bottom: 18px;
}

.content__btn {
  width: 100%;
  margin-bottom: 18px;
}

.contact-info {
  background-image: url("../img/bg.svg");
  padding: 53px 0 55px;
  margin-left: -1px;
  margin-top: -2px;
  position: relative;
  background-position-x: right;
  background-position-y: center;
  text-align: center;
}

.contact-info::after {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.contact-info__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 17px;
  position: relative;
  z-index: 1;
  color: #fff;
}

.contact-info__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  position: relative;
  z-index: 1;
  margin-bottom: 44px;
}

.contact-info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-info__form {
  margin-left: 83px;
}

.contact-info__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact-info__input {
  width: 242px;
  height: 47px;
  border: none;
  background-color: #fff;
  padding: 13px 19px;
  margin-right: 15px;
}

.contact-info__input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #a8a8a8;
}

.contact-info__input:-ms-input-placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #a8a8a8;
}

.contact-info__input::-ms-input-placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #a8a8a8;
}

.contact-info__input::placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #a8a8a8;
}

.contact-info__btn {
  padding: 10px 40px;
}

.contact-info__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
  position: relative;
}

.contact-info__checkbox {
  position: absolute;
  cursor: pointer;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.contact-info__checkbox:checked + .contact-info__span {
  background-image: url("../img/icon/union.svg");
  background-repeat: no-repeat;
  background-position-y: center;
}

.contact-info__span {
  position: absolute;
  height: 26px;
  width: 26px;
  background-color: #f8f8f8;
  border-radius: 3px;
  padding: 7px;
}

.contact-info__span::after {
  content: "";
  position: absolute;
  display: none;
}

.contact-info__span-text {
  font-family: Roboto Condensed;
  margin-left: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-align: left;
}

.why-me {
  background-color: #e5e5e5;
  padding: 109px 0 94px;
}

.why-me__title {
  margin-bottom: 69px;
}

.why-me__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 88px;
          column-gap: 88px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 39px;
}

.why-me__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why-me__box {
  width: 75px;
  height: 75px;
  background-color: #ffb400;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 39px;
}

.why-me__text {
  width: 405px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.why-me__text span {
  display: block;
  margin-top: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.social {
  background-image: url("../img/bg.svg");
  padding: 43px 0 57px;
  margin-left: -1px;
  margin-top: -2px;
  background-repeat: no-repeat;
  background-size: cover;
}

.social__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__box-img {
  margin-right: 31px;
}

.social__info-text {
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.social__info-link {
  background-color: #fff;
  padding: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__btn {
  margin: 30px auto 0px;
  display: block;
}

.social__link-icon {
  height: 52px;
  margin-right: 9px;
  vertical-align: middle;
  padding: 5px;
}

.review {
  padding: 70px 0 110px;
  background: #e5e5e5;
}

.review__title {
  margin-bottom: 113px;
}

.review__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 72px;
}

.review__item {
  width: 277px;
  background-color: #ffffff;
  padding: 46px 42px 43px;
  text-align: center;
  border-radius: 5px;
}

.review__img {
  width: 113px;
  height: 113px;
  border-radius: 50%;
  background: #c4c4c4;
  margin: 0 auto 30px;
}

.review__item-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 2px;
}

.review__item-link {
  font-size: 18px;
  line-height: 21px;
  color: #0075bf;
  margin-bottom: 28px;
  display: inline-block;
}

.review__item-text {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 28px;
}

.review__item-more {
  font-size: 14px;
  line-height: 16px;
  color: #0075bf;
}

.review__btn {
  display: block;
  margin: 0 auto;
}

.footer {
  background-image: url("../img/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  margin-left: -1px;
  margin-top: -2px;
  padding: 74px 0 83px;
  color: #ffffff;
}

.footer .contact-info__label {
  width: 100%;
}

.footer__title {
  text-align: center;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.footer__subtitle {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 42px;
  text-align: center;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__form {
  width: 455px;
}

.footer__form-input {
  width: 100%;
  margin-bottom: 18px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  padding: 13px 19px;
}

.footer__form-textarea {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  padding: 13px 19px;
  height: 88px;
  resize: none;
}

.footer__form-btn {
  width: 100%;
  margin-bottom: 32px;
}

.footer__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.footer__list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background: #ffffff;
  border-radius: 50%;
  margin-right: 27px;
}

.footer__list-tel {
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  color: #fff;
}

.footer__list-mail {
  font-size: 36px;
  line-height: 42px;
  color: #fff;
}

.footer__list-adress {
  font-size: 30px;
  line-height: 35px;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-list li {
  margin-right: 25px;
}

.footer .footer__social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1170px) {
  .title::before {
    width: 200px;
  }
  .title::after {
    width: 200px;
  }
  .ready {
    padding: 40px 0;
  }
  .ready-inner {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .decision {
    margin-top: -2px;
  }
  .work__inner {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .content {
    padding: 40px 0;
    margin-top: -2px;
    margin-left: -2px;
  }
  .contact-info {
    padding: 40px 0px;
  }
  .contact-info .header-nav__contact-link {
    font-size: 32px;
  }
  .why-me {
    padding: 40px 0px;
  }
  .review {
    padding: 40px 0px;
  }
  .review__item {
    padding: 46px 30px 43px;
  }
  .footer {
    padding: 40px 0;
  }
}

@media (max-width: 944px) {
  .header {
    padding: 30px 0px;
  }
  .header .header-nav__contact-link {
    font-size: 22px;
  }
  .header .header-info {
    padding-top: 40px;
  }
  .header .header-nav__btn {
    padding: 10px 0;
    font-size: 20px;
    margin-left: 7px;
  }
  .decision {
    padding: 40px 0px;
  }
  .contact-info__btn {
    padding: 10px 27px;
    font-size: 19px;
  }
  .contact-info__form {
    margin-left: 0;
  }
  .contact-info .header-nav__contact-box {
    margin-left: -15px;
  }
  .contact-info .header-nav__contact-link {
    font-size: 22px;
  }
  .why-me__title {
    margin-bottom: 45px;
  }
  .why-me__item {
    width: 45%;
  }
  .review__title {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .header .header-nav__contact-link {
    font-size: 20px;
  }
  .header .header-info__inner > img {
    display: none;
  }
  .info-item__box-title {
    font-size: 21px;
  }
  .ready .title::before {
    width: 120px;
  }
  .ready .title::after {
    width: 120px;
  }
  .ready-inner {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .work__inner {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .contact-info__text {
    font-size: 23px;
  }
  .contact-info .header-nav__contact {
    display: none;
  }
  .why-me__inner {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .why-me__box {
    margin-right: 10px;
  }
  .why-me__item {
    width: 40%;
  }
  .why-me__text {
    width: 100%;
  }
  .review__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    row-gap: 40px;
    margin-bottom: 40px;
  }
  .footer__form {
    width: 390px;
  }
  .footer__list-tel {
    font-size: 28px;
  }
  .footer__list-mail {
    font-size: 28px;
  }
  .footer__list-adress {
    font-size: 22px;
  }
}

@media (max-width: 425px) {
  .header .header-nav__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .header .header-nav__info {
    display: none;
  }
  .header .header-nav__btn {
    margin-right: 0;
  }
  .header .header-info {
    padding-top: 20px;
  }
  .header .header-info__title {
    font-size: 45px;
    margin-bottom: 29px;
  }
  .info {
    padding: 40px 0px;
  }
  .info__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-item {
    width: 100%;
  }
  .ready .title {
    font-size: 35px;
    margin-bottom: 35px;
  }
  .ready .title::before {
    display: none;
  }
  .ready .title::after {
    display: none;
  }
  .ready-inner {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .decision__title {
    font-size: 40px;
    margin-bottom: 18px;
  }
  .decision__subtitle {
    font-size: 22px;
  }
  .work {
    padding: 40px 0px;
  }
  .work .title {
    font-size: 35px;
    margin-bottom: 35px;
  }
  .work .title::before {
    display: none;
  }
  .work .title::after {
    display: none;
  }
  .work__inner {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .content__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content__info {
    width: 100%;
  }
  .content__form {
    margin-top: 15px;
    width: 100%;
  }
  .contact-info__title {
    font-size: 42px;
  }
  .contact-info__text {
    margin-bottom: 20px;
  }
  .contact-info__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-info__input {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-bottom: 15px;
  }
  .contact-info__btn {
    display: block;
    width: 100%;
    margin-right: auto;
  }
  .contact-info__label {
    width: 100%;
  }
  .why-me__inner {
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
  .why-me .title {
    font-size: 35px;
    margin-bottom: 35px;
  }
  .why-me .title::before {
    display: none;
  }
  .why-me .title::after {
    display: none;
  }
  .why-me__item {
    width: 38%;
  }
  .why-me__text {
    font-size: 15px;
  }
  .social {
    margin-left: -2px;
  }
  .social__box-img {
    display: none;
  }
  .social__info-text {
    font-size: 32px;
    margin-bottom: 13px;
  }
  .review .title {
    font-size: 35px;
    margin-bottom: 35px;
  }
  .review .title::before {
    display: none;
  }
  .review .title::after {
    display: none;
  }
  .footer {
    margin-left: -2px;
  }
  .footer__title {
    font-size: 42px;
    margin-bottom: 23px;
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .contact-info__label {
    margin-bottom: 20px;
  }
}

@media (max-width: 375px) {
  .header {
    height: auto;
    padding: 14px 0 66px;
    margin-left: -3px;
  }
  .header .logo img {
    width: 220px;
  }
  .header-nav {
    padding: 12px 0 14px;
  }
  .header-nav__box {
    display: none;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: #f3d1d1;
    padding-top: 57px;
    padding-left: 47px;
    padding-right: 42px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  .header-nav__box .header-nav__contact {
    margin-bottom: 21px;
  }
  .header-nav__box .header-nav__btn {
    width: 100%;
    margin-bottom: 28px;
  }
  .header-nav__box .header-nav__info {
    display: block;
    margin-right: auto;
  }
  .header-nav__box .header-nav__contact-link {
    font-size: 30px;
    line-height: 35px;
  }
  .header-nav__box span {
    font-size: 14px;
    line-height: 16px;
  }
  .header-nav__btn-hamburger {
    display: block;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 6;
  }
  .header-nav__box--active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .header-info {
    padding-top: 26px;
  }
  .header-info__inner img {
    display: none;
  }
  .header-info__title {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .header-info__item {
    line-height: 140%;
  }
  .header-info__btn {
    width: 100%;
  }
  .info {
    padding: 35px 0;
  }
  .info__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 42px;
  }
  .info .info-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .info .info-item__box {
    margin-left: 0px !important;
    text-align: center;
  }
  .ready {
    padding: 44px 0;
  }
  .ready__title {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 37px;
  }
  .ready .title::before, .ready .title::after {
    content: none;
  }
  .ready-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 18px;
  }
  .ready-inner__card {
    width: 100%;
  }
  .decision {
    padding: 55px 0px;
    margin-top: -1px;
  }
  .decision__title {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 26px;
    text-align: left;
  }
  .decision__subtitle {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 32px;
    text-align: left;
  }
  .decision__btn {
    width: 100%;
  }
  .work {
    padding: 50px 0;
  }
  .work__title {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 37px;
  }
  .work .title::before, .work .title::after {
    content: none;
  }
  .work__inner {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .work__item {
    margin: 0 auto;
  }
  .content {
    padding: 37px 0;
    margin-top: -2px;
    margin-left: -2px;
  }
  .content__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content__info {
    width: 100%;
  }
  .content__title {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 18px;
  }
  .content__subtitle {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 27px;
  }
  .content__form {
    width: 100%;
  }
  .content .header-nav__contact {
    margin-bottom: 33px;
  }
  .content .header-nav__contact-link {
    font-size: 30px;
    line-height: 35px;
  }
  .content .header-nav__contact-box span {
    font-size: 14px;
    line-height: 16px;
  }
  .content__input--small {
    display: none;
  }
  .contact-info {
    padding: 37px 0;
    background-position-x: inherit;
    background-position-y: center;
    margin-left: -2px;
  }
  .contact-info__title {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 10px;
    text-align: left;
  }
  .contact-info__text {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 35px;
    text-align: left;
  }
  .contact-info__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-info__form {
    margin-left: 0;
    margin-top: 35px;
  }
  .contact-info__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-info__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .contact-info__btn {
    width: 100%;
  }
  .contact-info__label {
    width: 100%;
  }
  .why-me {
    padding: 40px 0;
  }
  .why-me__title {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 37px;
  }
  .why-me .title::before, .why-me .title::after {
    content: none;
  }
  .why-me__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .why-me__box {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .why-me__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .why-me__text {
    width: 100%;
    text-align: center;
  }
  .social {
    padding: 48px 0px;
    margin-left: -3px;
    margin-top: -3px;
  }
  .social__box-img {
    display: none;
  }
  .social__info-text {
    font-size: 24px;
    line-height: 28px;
  }
  .social__info-text:last-child {
    font-size: 18px;
    line-height: 21px;
  }
  .social__link-icon {
    margin-right: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 15px;
  }
  .social__btn {
    width: 100%;
  }
  .review {
    padding: 51px 0;
  }
  .review__title {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 37px;
  }
  .review .title::before, .review .title::after {
    content: none;
  }
  .review__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 17px;
  }
  .review__item {
    margin: 0 auto;
  }
  .footer {
    padding: 41px 0;
    margin-left: -2px;
    margin-top: -2px;
    background-position-x: center;
  }
  .footer__title {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 19px;
  }
  .footer__subtitle {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 36px;
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__form {
    width: 100%;
  }
  .footer__info {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 30px;
  }
  .footer__list-tel, .footer__list-mail {
    font-size: 30px;
    line-height: 35px;
  }
  .footer__list-adress {
    font-size: 24px;
    line-height: 28px;
  }
}
/*# sourceMappingURL=style.css.map */