@media (max-width: 375px) {
  .header {
    height: auto;
    padding: 14px 0 66px;
    margin-left: -3px;
    .logo{
      img{
        width: 220px;
      }
    }
  }
  .header-nav {
    padding: 12px 0 14px;
    &__box {
      display: none;
    }
    &__btn-hamburger {
      display: block;
      border: none;
      padding: 0;
      background-color: transparent;
      cursor: pointer;
    }
  }
  .header-info {
    padding-top: 26px;
    &__inner {
      img {
        display: none;
      }
    }
    &__title {
      font-size: 34px;
      line-height: 40px;
      margin-bottom: 30px;
    }
    &__item {
      line-height: 140%;
    }
    &__btn {
      width: 100%;
    }
  }
}
