@media (max-width: 1170px) {
  .title {
    &::before {
      width: 200px;
    }
    &::after {
      width: 200px;
    }
  }
  .ready {
    padding: 40px 0;
  }
  .ready-inner {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .decision {
    margin-top: -2px;
  }
  .work {
    &__inner {
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
    }
  }
  .content {
    padding: 40px 0;
    margin-top: -2px;
    margin-left: -2px;
  }
  .contact-info {
    padding: 40px 0px;
    .header-nav__contact-link {
      font-size: 32px;
    }
  }
  .why-me {
    padding: 40px 0px;
  }
  .review {
    padding: 40px 0px;
    &__item {
      padding: 46px 30px 43px;
    }
  }
  .footer{
    padding: 40px 0;
  }
}
@media (max-width: 375px) {
  .header {
    height: auto;
    padding: 14px 0 66px;
    margin-left: -3px;
    .logo {
      img {
        width: 220px;
      }
    }
  }
  .header-nav {
    padding: 12px 0 14px;
    &__box {
      display: none;
      display: block;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      background-color: #f3d1d1;
      padding-top: 57px;
      padding-left: 47px;
      padding-right: 42px;
      transform: translateY(-100%);
      transition: all 0.7s;
      .header-nav__contact {
        margin-bottom: 21px;
      }
      .header-nav__btn {
        width: 100%;
        margin-bottom: 28px;
      }
      .header-nav__info {
        display: block;
        margin-right: auto;
      }
      .header-nav__contact-link {
        font-size: 30px;
        line-height: 35px;
      }
      span {
        font-size: 14px;
        line-height: 16px;
      }
    }
    &__btn-hamburger {
      display: block;
      border: none;
      padding: 0;
      background-color: transparent;
      cursor: pointer;
      z-index: 6;
    }
    //.logo{
    //  z-index: 7;
    //}
    &__box--active {
      transform: translateY(0%);
    }
  }
  .header-info {
    padding-top: 26px;
    &__inner {
      img {
        display: none;
      }
    }
    &__title {
      font-size: 34px;
      line-height: 40px;
      margin-bottom: 30px;
    }
    &__item {
      line-height: 140%;
    }
    &__btn {
      width: 100%;
    }
  }
  .info {
    padding: 35px 0;
    &__inner {
      flex-direction: column;
      row-gap: 42px;
    }
    .info-item {
      align-items: center;
      flex-direction: column;
      width: 100%;
      &__box {
        margin-left: 0px !important;
        text-align: center;
      }
    }
  }
  .ready {
    padding: 44px 0;
    &__title {
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 37px;
    }
    .title {
      &::before,
      &::after {
        content: none;
      }
    }
  }
  .ready-inner {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    &__card {
      width: 100%;
    }
  }
  .decision {
    padding: 55px 0px;
    margin-top: -1px;
    &__title {
      font-size: 32px;
      line-height: 37px;
      margin-bottom: 26px;
      text-align: left;
    }
    &__subtitle {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 32px;
      text-align: left;
    }
    &__btn {
      width: 100%;
    }
  }
  .work {
    padding: 50px 0;
    &__title {
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 37px;
    }
    .title {
      &::before,
      &::after {
        content: none;
      }
    }
    &__inner {
      grid-template-columns: repeat(1, 1fr);
    }
    &__item {
      margin: 0 auto;
    }
  }
  .content {
    padding: 37px 0;
    margin-top: -2px;
    margin-left: -2px;
    &__inner {
      flex-direction: column;
    }
    &__info {
      width: 100%;
    }
    &__title {
      font-size: 32px;
      line-height: 37px;
      margin-bottom: 18px;
    }
    &__subtitle {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 27px;
    }
    &__form {
      width: 100%;
    }
    .header-nav__contact {
      margin-bottom: 33px;
    }
    .header-nav__contact-link {
      font-size: 30px;
      line-height: 35px;
    }
    .header-nav__contact-box {
      span {
        font-size: 14px;
        line-height: 16px;
      }
    }
    &__input--small {
      display: none;
    }
  }
  .contact-info {
    padding: 37px 0;
    background-position-x: inherit;
    background-position-y: center;
    margin-left: -2px;
    &__title {
      font-size: 32px;
      line-height: 37px;
      margin-bottom: 10px;
      text-align: left;
    }
    &__text {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 35px;
      text-align: left;
    }
    &__inner {
      flex-direction: column;
    }
    &__form {
      margin-left: 0;
      margin-top: 35px;
    }
    &__box {
      flex-direction: column;
    }
    &__input {
      width: 100%;
      margin-bottom: 10px;
    }
    &__btn {
      width: 100%;
    }
    &__label {
      width: 100%;
    }
  }
  .why-me {
    padding: 40px 0;
    &__title {
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 37px;
    }
    .title {
      &::before,
      &::after {
        content: none;
      }
    }
    &__inner {
      flex-direction: column;
    }
    &__box {
      margin-right: 0;
      margin-bottom: 10px;
    }
    &__item {
      flex-direction: column;
    }
    &__text {
      width: 100%;
      text-align: center;
    }
  }
  .social {
    padding: 48px 0px;
    margin-left: -3px;
    margin-top: -3px;
    &__box-img {
      display: none;
    }
    &__info-text {
      font-size: 24px;
      line-height: 28px;
      &:last-child {
        font-size: 18px;
        line-height: 21px;
      }
    }
    &__link-icon {
      margin-right: 0;
      display: inline-flex;
      margin-bottom: 15px;
    }
    &__btn {
      width: 100%;
    }
  }
  .review {
    padding: 51px 0;
    &__title {
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 37px;
    }
    .title {
      &::before,
      &::after {
        content: none;
      }
    }
    &__inner {
      flex-direction: column;
      row-gap: 17px;
    }
    &__item {
      margin: 0 auto;
    }
  }
  .footer {
    padding: 41px 0;
    margin-left: -2px;
    margin-top: -2px;
    background-position-x: center;
    &__title {
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 19px;
    }
    &__subtitle {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 36px;
    }
    &__inner {
      flex-direction: column;
    }
    &__form {
      width: 100%;
    }
    &__info {
      order: -1;
      margin-bottom: 30px;
    }
    &__list-tel,
    &__list-mail {
      font-size: 30px;
      line-height: 35px;
    }
    &__list-adress {
      font-size: 24px;
      line-height: 28px;
    }
  }
}
