@import "vars";
@import "reset";
@import "global";
.header {
  background-image: url("../img/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  height: 100vh;
  padding: 40px 0 48px;
  margin-left: -1px;
  margin-top: -2px;
}
.header-nav {
  background-color: #fff;
  padding: 25px 0 32px;
  &__btn-hamburger{
    display: block;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__box {
    display: flex;
    align-items: center;
  }
  &__contact {
    display: flex;
    align-items: center;
  }
  &__contact-img {
    margin-right: 6px;
  }
  &__contact-box {
    display: flex;
    flex-direction: column;
  }
  &__contact-link {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    color: $default;
  }
  &__btn {
    @extend %btn;
    margin-left: 30px;
    margin-right: 31px;
  }
  &__info {
    margin-left: 31px;
  }
  &__item {
    display: flex;
    margin-bottom: 7px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__info-img {
    margin-right: 10px;
  }
  &__info-link {
    font-size: 16px;
    line-height: 19px;
    color: #000;
  }
}
.header-info {
  padding-top: 77px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    max-width: 575px;
    font-weight: 400;
    font-size: 66px;
    line-height: 77px;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: $title;
    margin-bottom: 22px;
  }
  &__list {
    margin-bottom: 30px;
  }
  &__item {
    font-weight: 400;
    font-size: 24px;
    line-height: 165.19%;
    color: #ffffff;
    margin-bottom: 15px;
    padding-left: 40px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/icon/box.svg");
      left: 0;
      width: 24px;
      height: 26px;
      top: 5px;
    }
  }
  &__item--last {
    margin-bottom: 30px;
  }
  &__btn {
    @extend %btn;
    padding: 12px 30px;
  }
}
.info {
  background: #e5e5e5;
  padding: 60px 0 52px;
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
  }
}
.info-item {
  width: 50%;
  display: flex;
  color: #000;
  font-weight: 400;
  &__img {
    max-width: 180px;
  }
  &__box {
    margin-left: 20px;
  }
  &__box-title {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 1px;
  }
  &__box-subtitle {
    font-size: 18px;
    line-height: 150%;
    color: #000;
  }
}
.ready {
  background-color: #f6f6f6;
  padding: 45px 0 86px;
}
.ready-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 8px;
  row-gap: 24px;
  &__card {
    width: 296px;
  }
  &__card-box {
    padding: 18px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__card-title {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__content {
    background-color: #fff;
    padding: 15px 0 42px;
    height: 658px;
    display: flex;
    flex-direction: column;
  }
  &__img {
    margin: 0 auto;
    min-height: 130px;
  }
  &__list-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 56px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/icon/union.svg");
      width: 24px;
      height: 18px;
      left: 16px;
    }
    &:nth-child(1n) {
      background-color: #fdf4dd;
    }
    &:nth-child(2n) {
      background-color: #fff;
    }
  }
  &__container {
    display: block;
    margin-top: auto;
  }
  &__price {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
    text-align: center;
  }
  &__btn {
    @extend %btn;
    display: block;
    margin: 10px auto 0px;
  }
}
.decision {
  padding: 77px 0 72px;
  text-align: center;
  background-image: url("../img/bg.svg");
  margin-left: -1px;
  font-family: Roboto Condensed;
  color: #ffffff;
  background-position-x: center;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 18px;
    z-index: 1;
    position: relative;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 46px;
    z-index: 1;
    position: relative;
  }
  &__btn {
    @extend %btn;
    padding: 12px 82px;
    z-index: 1;
    position: relative;
  }
}
.work {
  background: #e5e5e5;
  padding: 61px 0 68px;
  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 39px;
    column-gap: 37px;
    row-gap: 18px;
  }
  &__item {
    width: 273px;
  }
  &__item-box {
    background-color: #fff;
    padding: 7px;
  }
  &__box {
    background-color: #f6f6f6;
    padding: 16px 0 21px;
    display: flex;
    justify-content: center;
  }
  &__box-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }
  &__contact {
    display: flex;
    justify-content: center;
  }
  &__btn {
    @extend %btn;
  }
}
.content {
  background-image: url("../img/bg.svg");
  padding: 72px 0;
  margin-left: -1px;
  color: #ffffff;
  .contact-info__label{
    width: 100%;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    width: 520px;
  }
  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  &__subtitle {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 40px;
  }
  &__form {
    width: 455px;
  }
  &__input {
    border: none;
    display: block;
    border-radius: 3px;
    background: #fff;
    padding: 13px 19px;
    width: 100%;
    margin-bottom: 18px;
  }
  &__btn {
    @extend %btn;
    width: 100%;
    margin-bottom: 18px;
  }
}
.contact-info {
  background-image: url("../img/bg.svg");
  padding: 53px 0 55px;
  margin-left: -1px;
  margin-top: -2px;
  position: relative;
  background-position-x: right;
  background-position-y: center;
  text-align: center;
  &::after {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 17px;
    position: relative;
    z-index: 1;
    color: #fff;
  }
  &__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    position: relative;
    z-index: 1;
    margin-bottom: 44px;
  }
  &__inner {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: space-between;
  }
  &__form {
    margin-left: 83px;
  }
  &__box {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    justify-content: flex-end;
  }
  &__input {
    width: 242px;
    height: 47px;
    border: none;
    background-color: #fff;
    padding: 13px 19px;
    margin-right: 15px;
    &::placeholder {
      font-size: 18px;
      line-height: 21px;
      color: #a8a8a8;
    }
  }
  &__btn {
    @extend %btn;
    padding: 10px 40px;
  }
  &__label {
    display: flex;
    width: 700px;
    position: relative;
  }
  &__checkbox {
    position: absolute;
    //opacity: 0;
    cursor: pointer;
    //width: 0;
    //height: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    &:checked + .contact-info__span {
      background-image: url("../img/icon/union.svg");
      background-repeat: no-repeat;
      background-position-y: center;
    }
  }
  &__span {
    position: absolute;
    height: 26px;
    width: 26px;
    background-color: rgb(248, 248, 248);
    border-radius: 3px;
    padding: 7px;
    &::after {
      content: "";
      position: absolute;
      display: none;
    }
  }
  &__span-text {
    font-family: Roboto Condensed;
    margin-left: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    text-align: left;
  }
}
.why-me {
  background-color: #e5e5e5;
  padding: 109px 0 94px;
  &__title {
    margin-bottom: 69px;
  }
  &__inner {
    display: flex;
    column-gap: 88px;
    flex-wrap: wrap;
    row-gap: 39px;
  }
  &__item {
    display: flex;
    align-items: center;
  }
  &__box {
    width: 75px;
    height: 75px;
    background-color: #ffb400;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 39px;
  }
  &__text {
    width: 405px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    span {
      display: block;
      margin-top: 2px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
    }
  }
}
.social {
  background-image: url("../img/bg.svg");
  padding: 43px 0 57px;
  margin-left: -1px;
  margin-top: -2px;
  background-repeat: no-repeat;
  background-size: cover;
  &__inner {
    display: flex;
  }
  &__box-img {
    margin-right: 31px;
  }
  &__info-text {
    margin-bottom: 17px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }
  &__info-link {
    background-color: #fff;
    padding: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  &__btn {
    @extend %btn;
    margin: 30px auto 0px;
    display: block;
  }
  &__link-icon {
    height: 52px;
    margin-right: 9px;
    vertical-align: middle;
    padding: 5px;
  }
}
.review {
  padding: 70px 0 110px;
  background: #e5e5e5;
  &__title {
    margin-bottom: 113px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
  }
  &__item {
    width: 277px;
    background-color: #ffffff;
    padding: 46px 42px 43px;
    text-align: center;
    border-radius: 5px;
  }
  &__img {
    width: 113px;
    height: 113px;
    border-radius: 50%;
    background: #c4c4c4;
    margin: 0 auto 30px;
  }
  &__item-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 2px;
  }
  &__item-link {
    font-size: 18px;
    line-height: 21px;
    color: #0075bf;
    margin-bottom: 28px;
    display: inline-block;
  }
  &__item-text {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 28px;
  }
  &__item-more {
    font-size: 14px;
    line-height: 16px;
    color: #0075bf;
  }
  &__btn {
    @extend %btn;
    display: block;
    margin: 0 auto;
  }
}
.footer {
  background-image: url("../img/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  margin-left: -1px;
  margin-top: -2px;
  padding: 74px 0 83px;
  color: #ffffff;
  .contact-info__label{
    width: 100%;
  }
  &__title {
    text-align: center;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    margin-bottom: 28px;
  }
  &__subtitle {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 42px;
    text-align: center;
  }
  &__inner {
    display: flex;
    justify-content: space-around;
  }
  &__form {
    width: 455px;
  }
  &__form-input {
    width: 100%;
    margin-bottom: 18px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    padding: 13px 19px;
  }
  &__form-textarea {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    padding: 13px 19px;
    height: 88px;
    resize: none;
  }
  &__form-btn {
    @extend %btn;
    width: 100%;
    margin-bottom: 32px;
  }
  &__list-item {
    display: flex;
    margin-bottom: 40px;
  }
  &__list-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: #ffffff;
    border-radius: 50%;
    margin-right: 27px;
  }
  &__list-tel {
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    color: #fff;
  }
  &__list-mail {
    font-size: 36px;
    line-height: 42px;
    color: #fff;
  }
  &__list-adress {
    font-size: 30px;
    line-height: 35px;
  }
  &__social-list {
    display: flex;
    align-items: center;
    li {
      margin-right: 25px;
    }
  }
  .footer__social-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@import "media";
