@import "vars";
@import "reset";
@import "global";
.header {
  background-image: url("../img/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  height: 100vh;
  padding: 40px 0 48px;
  margin-left: -1px;
  margin-top: -2px;
}
.header-nav {
  background-color: #fff;
  padding: 25px 0 32px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__box {
    display: flex;
    align-items: center;
  }
  &__contact {
    display: flex;
    align-items: center;
  }
  &__contact-img {
    margin-right: 6px;
  }
  &__contact-box {
    display: flex;
    flex-direction: column;
  }
  &__contact-link {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    color: $default;
  }
  &__btn {
    @extend %btn;
    margin-left: 30px;
    margin-right: 31px;
  }
  &__info {
    margin-left: 31px;
  }
  &__item {
    display: flex;
    margin-bottom: 7px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__info-img {
    margin-right: 10px;
  }
  &__info-link {
    font-size: 16px;
    line-height: 19px;
    color: #000;
  }
}
.header-info {
  padding-top: 77px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    max-width: 575px;
    font-weight: 400;
    font-size: 66px;
    line-height: 77px;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: $title;
    margin-bottom: 22px;
  }
  &__list {
    margin-bottom: 30px;
  }
  &__item {
    font-weight: 400;
    font-size: 24px;
    line-height: 165.19%;
    color: #ffffff;
    margin-bottom: 15px;
    padding-left: 40px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/icon/box.svg");
      left: 0;
      width: 24px;
      height: 26px;
      top: 5px;
    }
  }
  &__item--last {
    margin-bottom: 30px;
  }
  &__btn {
    @extend %btn;
    padding: 12px 30px;
  }
}
.info {
  background: #e5e5e5;
  padding: 60px 0 52px;
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
  }
}
.info-item {
  width: 50%;
  display: flex;
  color: #000;
  font-weight: 400;
  &__img {
    max-width: 180px;
  }
  &__box {
    margin-left: 20px;
  }
  &__box-title {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 1px;
  }
  &__box-subtitle {
    font-size: 18px;
    line-height: 150%;
    color: #000;
  }
}
.ready {
  background-color: #f6f6f6;
  padding: 45px 0 86px;
}
.ready-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 8px;
  row-gap: 24px;
  &__card {
    width: 296px;
  }
  &__card-box {
    padding: 18px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__card-title {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__content {
    background-color: #fff;
    padding: 15px 0 42px;
    height: 658px;
    display: flex;
    flex-direction: column;
  }
  &__img {
    margin: 0 auto;
    min-height: 130px;
  }
  &__list-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 56px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/icon/union.svg");
      width: 24px;
      height: 18px;
      left: 16px;
    }
    &:nth-child(1n) {
      background-color: #fdf4dd;
    }
    &:nth-child(2n) {
      background-color: #fff;
    }
  }
  &__container {
    display: block;
    margin-top: auto;
  }
  &__price {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
    text-align: center;
  }
  &__btn {
    @extend %btn;
    display: block;
    margin: 10px auto 0px;
  }
}
.decision {
  padding: 77px 0 72px;
  text-align: center;
  background-image: url("../img/bg.svg");
  margin-left: -1px;
  font-family: Roboto Condensed;
  color: #ffffff;
  background-position-x: center;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 18px;
    z-index: 1;
    position: relative;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 46px;
    z-index: 1;
    position: relative;
  }
  &__btn {
    @extend %btn;
    padding: 12px 82px;
    z-index: 1;
    position: relative;
  }
}
.work {
  background: #e5e5e5;
  padding: 61px 0 68px;
  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 39px;
    column-gap: 37px;
    row-gap: 18px;
  }
  &__item {
    width: 273px;
  }
  &__item-box {
    background-color: #fff;
    padding: 7px;
  }
  &__box {
    background-color: #f6f6f6;
    padding: 16px 0 21px;
    display: flex;
    justify-content: center;
  }
  &__box-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }
  &__contact{
    display: flex;
    justify-content: center;
  }
  &__btn{
    @extend %btn;
  }
}
@import "media";
